@import url(base.css);
@import url(style.css);


@media (width: 440px) {
    /* HEADER */
    header{
        padding: 15px 20px;
    }

    header i.icon-abrirMenu{
        display: block;
    }

    header > div.container-navLinks{
        display: none;
    }

    header div.content-navLinks{
        width: 100%;
        position: absolute;
        top: 118px;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        color: var(--branco);
    }

    header div a.navLink{
        width: 100%;
        border: 2px solid var(--cinzaEscuro);
        padding: 20px 0;
        text-align: center;
        color: var(--branco);
        background-color: var(--marrom-claro);
    }


    /* Main */
    main{
        padding: 0 20px;
    }

    /* Main - Section Headline */
    section#headline{
        padding-top: 30px;
        flex-direction: column;
        gap: 60px;
    }

    div#headlineTextos{
        width: 100%;
        text-align: center;
    }

    div#headlineTextos h1{
        font-size: 30px;
    }

    div#headlineTextos h2{
        margin: 15px auto;
        width: 310px;
        font-size: 15px;
    }

    div#headlineTextos button{
        border-radius: 20px;
        padding: 10px 35px;
        font-size: 12px;
    }

    section#headline img{
        width: 202px;
        height: 295px;
    }
}