@import url(base.css);
@import url(style.css);


@media (width: 440px) {
    /* HEADER */
    header{
        padding: 15px 20px;
    }

    header i.icon-abrirMenu{
        display: block;
    }

    header > div.container-navLinks{
        display: none;
    }

    header div.content-navLinks{
        width: 100%;
        position: absolute;
        top: 118px;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        color: var(--branco);
    }

    header div a.navLink{
        width: 100%;
        border: 2px solid var(--cinzaEscuro);
        padding: 20px 0;
        text-align: center;
        color: var(--branco);
        background-color: var(--marrom-claro);
    }


    /* Main */
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    /* Main - Section Headline */
    section#headline{
        padding-top: 30px;
        flex-direction: column;
        gap: 60px;
    }

    div#headlineTextos{
        width: 100%;
        text-align: center;
    }

    div#headlineTextos h1{
        font-size: 30px;
    }

    div#headlineTextos h2{
        margin: 15px auto;
        width: 310px;
        font-size: 15px;
    }

    div#headlineTextos button{
        border-radius: 20px;
        padding: 10px 35px;
        font-size: 12px;
    }

    section#headline img{
        width: 202px;
        height: 295px;
    }


    /* Main - Section Oferta */
    section#oferta{
        width: 100vw;
        padding: 30px 20px;
    }

    /* Section Oferta - Destaques */
    section#oferta div.destaqueContainer{
        flex-direction: column;
    }

    div.destaque{
        width: 100%;
        justify-content: center;
    }

    div.destaque span{
        font-size: 22px;
    }

    span.linhaOferta{
        width: 100px;
    }

    /* Section Oferta - Sobre Nós */
    div.sobreContainer{
        margin: 60px 0;
        flex-direction: column;
        gap: 30px;
    }

    div.sobreTextos h1{
        font-size: 32px;
    }

    div.sobreTextos{
        width: 100%;
    }

    div.sobreTextos p{
        font-size: 20px;
    }

    /* Section Oferta - Cards */
    div.cardsContainer{
        flex-direction: column;
    }

    div.cardContent{
        width: 100%;
    }

    div.cardContent img{
        width: 100%;
        border: 1px solid var(--cinzaEscuro);
    }

    div.cardContent h2{
        font-size: 20px;
    }

    div.cardContent h3{
        font-size: 18px;
    }

    div.cardContent button{
        width: 100%;
        padding: 15px 45px;
    }


    /* Main - Section Benefícios */
    section#beneficios{
        width: 100%;
        padding: 30px 0;
    }

    section#beneficios h1{
        font-size: 32px;
    }

    section#beneficios > div{
        gap: 90px;
    }

    div.beneficio{
        flex-direction: column;
        gap: 30px;
    }

    div.beneficio:nth-child(odd){
        flex-direction: column-reverse;
    }

    div.beneficiosTextos{
        text-align: center;
        width: 100%;
    }

    div.beneficiosTextos h2{
        font-size: 24px;
    }

    div.beneficiosTextos p{
        font-size: 20px;
    }


    /* Main - Section Prova Social */
    section#provaSocial{
        width: 440px;
        padding: 30px 20px;
        gap: 20px;
    }

    section#provaSocial h1{
        font-size: 32px;
    }

    section#provaSocial h2{
        font-size: 25px;
    }

    div.depoimentoContainer{
        width: 100%;
        flex-direction: column;
    }

    div.depoimentoContent{
        border: 3px solid var(--preto);
        width: 100%;
        height: fit-content;
    }


    /* Main - Section CTA */
    section#cta{
        padding: 30px 0;
    }

    section#cta div.ctaContent{
        width: 100%;
        flex-direction: column;
        padding: 30px 20px;
        gap: 50px;
    }

    div.ctaContent > div{
        width: 100%;
        text-align: center;
    }

    div.ctaContent h1{
        font-size: 32px;
    }

    div.ctaContent p{
        font-size: 22px;
    }

    form {
        width: 100%;
        gap: 15px;
    }

    form input::placeholder, form textarea::placeholder{
        font-size: 18px;
    }

    form button{
        font-size: 24px;
    }


    /* FOOTER */
    footer{
        padding: 40px 20px 25px 20px;
    }

    /* Footer - Parte Superior */
    footer div.parteSuperior{
        flex-direction: column;
        gap: 30px;
    }

    div.informacao{
        gap: 15px;
    }

   /* Footer - Linha Divisória */
    footer > div#linhadDivisoria{
        height: 2px;
    }

    /* Footer -  Parte Inferior*/
    div.parteInferior{
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }
}