@import url('base.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--brancoAcinzentado);
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 0 100px;
}

header img{
    width: 75px;
    height: 88px;
}

header div{
    display: flex;
    gap: 25px;
}

header .navLink{
    font-family: var(--Inter);
    font-size: 20px;
    color: var(--cinzaEscuro);
    text-decoration: none;
}


/* Main */

/* Main - Section Headline */
section#headline{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

div#headlineTextos{
    width: 590px;
}

div#headlineTextos h1{
    font-family: var(--ArchivoBlack);
    font-size: 45px;
    color: var(--marrom);
}

div#headlineTextos h2{
    margin: 15px 0;
    font-family: var(--ArchitectsDaughter);
    font-size: 25px;
    color: var(--marrom-claro);
}

div#headlineTextos button{
    cursor: pointer;
    border: 0px;
    border-radius: 15px;
    padding: 20px 60px;
    font-size: 15px;
    font-family: var(--ArchivoBlack);
    color: var(--branco);
    background-color: var(--marrom-claro);
    transition: .3s ease;
}

div#headlineTextos button:hover{
    color: var(--branco);
    background-color: var(--marrom);
}

section#headline img{
    width: 387px;
    height: 565px;
}


/* Main - Section Oferta */
section#oferta{
    padding: 100px 80px;
    background-color: var(--branco);
}

/* Section Oferta - Destaques */
section#oferta div.destaqueContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

div.destaque{
    display: flex;
    align-items: center;
    gap: 10px; 
    border-radius: 5px;
    width: fit-content;
    padding: 15px 30px;
    color: var(--marrom-claro);
    background-color: var(--cinzaEscuro);
}

div.destaque i{
    font-size: 35px;
}

div.destaque span{
    font-family: var(--Archivo);
    font-size: 25px;
}

span.linhaOferta{
    border-radius: 5px;
    width: 40px;
    height: 3px;
    background-color: var(--cinzaEscuro);
}

/* Section Oferta - Sobre Nós */
div.sobreContainer{
    margin: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

div.sobreTextos{
    width: 550px;
}

div.sobreTextos h1{
    margin-bottom: 15px;
    font-family: var(--Archivo);
    font-size: 35px;
    color: var(--marrom);
}

div.sobreTextos p{
    font-family: var(--Archivo);
    font-size: 25px;
    color: var(--marrom);
}

/* Section Oferta - Cards */
div.cardsContainer{
    display: flex;
    justify-content: center;
}

div.cardContent{
    width: fit-content;
    border: 3px solid var(--preto);
    padding: 50px 40px;
}

div.cardContent img{
    border: 1px solid var(--cinzaEscuro);
}

div.cardContent div{
    margin: 20px 0;
}

div.cardContent h2{
    margin: 5px 0;
    font-family: var(--Archivo);
    font-size: 25px;
    color: var(--preto);
}

div.cardContent h3{
    font-family: var(--Archivo);
    font-size: 20px;
    font-weight: 400;
    color: var(--marrom-claro);
}

div.cardContent button{
    cursor: pointer;
    border: none;
    padding: 18px 45px;
    font-family: var(--Inter);
    font-size: 20px;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--marrom-claro);
    transition: .3s ease;
}

div.cardContent button:hover{
    color: var(--branco);
    background-color: var(--marrom);
}