@import url('base.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--brancoAcinzentado);
}

/* HEADER */
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 0 100px;
    background-color: var(--brancoAcinzentado);
}

header img{
    width: 75px;
    height: 88px;
}

header i{
    display: none;
    font-size: 50px;
}

header div.content-navLinks{
    display: flex;
    gap: 25px;
}

header .navLink{
    font-family: var(--Inter);
    font-size: 20px;
    color: var(--cinzaEscuro);
    text-decoration: none;
}


/* Main */

/* Main - Section Headline */
section#headline{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

div#headlineTextos{
    width: 590px;
}

div#headlineTextos h1{
    font-family: var(--ArchivoBlack);
    font-size: 45px;
    color: var(--marrom);
}

div#headlineTextos h2{
    margin: 15px 0;
    font-family: var(--ArchitectsDaughter);
    font-size: 25px;
    color: var(--marrom-claro);
}

div#headlineTextos button{
    cursor: pointer;
    border: 0px;
    border-radius: 15px;
    padding: 20px 60px;
    font-size: 15px;
    font-family: var(--ArchivoBlack);
    color: var(--branco);
    background-color: var(--marrom-claro);
    transition: .3s ease;
}

div#headlineTextos button:hover{
    color: var(--branco);
    background-color: var(--marrom);
}

section#headline img{
    width: 387px;
    height: 565px;
}


/* Main - Section Oferta */
section#oferta{
    padding: 100px 80px;
    background-color: var(--branco);
}

/* Section Oferta - Destaques */
section#oferta div.destaqueContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

div.destaque{
    display: flex;
    align-items: center;
    gap: 10px; 
    border-radius: 5px;
    width: fit-content;
    padding: 15px 30px;
    color: var(--marrom-claro);
    background-color: var(--cinzaEscuro);
}

div.destaque i{
    font-size: 35px;
}

div.destaque span{
    font-family: var(--Archivo);
    font-size: 25px;
}

span.linhaOferta{
    border-radius: 5px;
    width: 40px;
    height: 3px;
    background-color: var(--cinzaEscuro);
}

/* Section Oferta - Sobre Nós */
div.sobreContainer{
    margin: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

div.sobreTextos{
    width: 550px;
}

div.sobreTextos h1{
    margin-bottom: 15px;
    font-family: var(--Archivo);
    font-size: 35px;
    color: var(--marrom);
}

div.sobreTextos p{
    font-family: var(--Archivo);
    font-size: 25px;
    color: var(--marrom);
}

/* Section Oferta - Cards */
div.cardsContainer{
    display: flex;
    justify-content: center;
}

div.cardContent{
    width: fit-content;
    border: 3px solid var(--preto);
    padding: 50px 40px;
}

div.cardContent img{
    border: 1px solid var(--cinzaEscuro);
}

div.cardContent div{
    margin: 20px 0;
}

div.cardContent h2{
    margin: 5px 0;
    font-family: var(--Archivo);
    font-size: 25px;
    color: var(--preto);
}

div.cardContent h3{
    font-family: var(--Archivo);
    font-size: 20px;
    font-weight: 400;
    color: var(--marrom-claro);
}

div.cardContent button{
    cursor: pointer;
    border: none;
    padding: 18px 45px;
    font-family: var(--Inter);
    font-size: 20px;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--marrom-claro);
    transition: .3s ease;
}

div.cardContent button:hover{
    color: var(--branco);
    background-color: var(--marrom);
}


/* Main - Section Benefícios */
section#beneficios{
    padding: 100px 0;
}

section#beneficios > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 120px;
}

section#beneficios h1{
    margin-bottom: 50px;
    text-align: center;
    font-family: var(--Inter);
    font-size: 35px;
}

section#beneficios span{
    text-decoration: underline;
    color: var(--marrom);
}

section#beneficios img{
    box-shadow: -5px 5px 4px var(--marrom);
}

div.beneficio{
    display: flex;
    align-items: center;
    gap: 50px;
}

div.beneficiosTextos{
    width: 550px;
}

div.beneficiosTextos h2{
    margin-bottom: 15px;
    font-family: var(--Inter);
    font-size: 28px;
    color: var(--marrom);
}

div.beneficiosTextos p{
    font-weight: 300;
    font-family: var(--Inter);
    font-size: 25px;
}


/* Main - Section Depoimentos */
section#provaSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 0;
    background-color: var(--branco);
}

section#provaSocial h1{
    margin-bottom: 10px;
    text-align: center;
    font-size: 35px;
    font-family: var(--Inter);
    color: var(--marrom);
}

section#provaSocial h2{
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: var(--Inter);
    color: var(--cinzaEscuro);
}

section#provaSocial span{
    color: var(--marrom-claro);
}

div.depoimentoContainer{
    width: fit-content;
    border: 3px solid var(--preto);
    display: flex;
}

div.depoimentoContent{
    border: 3px solid var(--preto);
    width: 450px;
    height: 470px;
    padding: 50px 40px;
}

div.depoimentoContent > div{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

div.depoimentoContent img{
    border-radius: 50%;
    border: 2px solid var(--preto);
}

div.depoimentoInfo h3{
    font-family: var(--Archivo);
    font-size: 25px;
}

div.depoimentoInfo h4{
    font-family: var(--Archivo);
    font-size: 20px;
    font-weight: 200;
    color: var(--marrom);
}

div.depoimentoContent p{
    font-family: var(--ArchitectsDaughter);
    font-size: 22px;
    font-size: 20px;
}


/* Main - Section CTA */
section#cta{
    padding: 100px 0;
}

section#cta div.ctaContent{
    border-radius: 15px;
    width: fit-content;
    margin: 0 auto;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    gap: 150px;
    background-color: var(--marrom);
    box-shadow: 0 0 20px 10px var(--marrom-claro);
}

div.ctaContent > div{
    width: 530px;
}

div.ctaContent h1{
    margin-bottom: 15px;
    font-family: var(--ArchivoBlack);
    font-size: 42px;
    color: var(--branco);
}

div.ctaContent p{
    font-family: var(--Archivo);
    font-size: 28px;
    font-weight: 300;
    color: var(--brancoAcinzentado);
}

form {
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form input, form textarea{
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: var(--brancoAcinzentado);
}

form textarea{
    height: 165px;
}

form input::placeholder, form textarea::placeholder{
    font-family: var(--Archivo);
    font-size: 20px;
    color: var(--preto40);
}

form button{
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 15px 0;
    font-family: var(--ArchivoBlack);
    font-size: 25px;
    color: var(--branco);
    background-color: var(--marrom-claro);
    box-shadow: -4px 4px 4px var(--preto40);
    transition: .3s ease;
}

form button:hover{
    scale: 1.02;
    box-shadow: -12px 12px 10px var(--preto40);
}


/* FOOTER */
footer{
    padding: 40px 50px 25px 50px;
    background-color: var(--marrom);
}

/* Footer - Parte Superior */
footer div.parteSuperior{
    display: flex;
    justify-content: space-between;
}

div.informacoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div.infoAdicionais h1{
    margin-bottom: 25px;
    font-family: var(--Archivo);
    font-size: 32px;
    color: var(--branco);
}

div.informacao {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--brancoAcinzentado);
}

div.informacao p{
    font-family: var(--Inter);
    font-size: 16px;
}

div.redesSocias{
    display: flex;
    gap: 15px;
}

div.redesSocias i{
    border-radius: 30px;
    padding: 10px;
    font-size: 25px;
    color: var(--marrom-claro);
    background-color: var(--brancoAcinzentado);
    transition: .3s ease;
}

div.redesSocias i:hover{
    color: var(--preto);
}

/* Footer - Linha Divisória */
footer > div#linhadDivisoria{
    margin: 50px 0;
    border-radius: 5px;
    height: 5px;
    background-color: var(--brancoAcinzentado);
}

/* Footer -  Parte Inferior*/
div.parteInferior{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-family: var(--Archivo);
    font-size: 16px;
    color: var(--branco);
}

div.parteInferior a{
    text-decoration: none;
    color: var(--branco);
}

div.parteInferior a:hover{
    text-decoration: underline;
}